# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
sh.exe.stackdump
Server1_screepspl_us___21025/.sync
.idea/markdown-exported-files.xml
